$spaceamounts: (0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 75, 100);
$sides: (top, bottom, left, right);

@each $space in $spaceamounts {

  .has-margin-#{$space} {
    margin: #{$space}px !important;
  }

  .has-padding-#{$space} {
    padding: #{$space}px !important;
  }

  @each $side in $sides {
    .has-margin-#{$side}-#{$space} {
      margin-#{$side}: #{$space}px !important;
    }

    .has-padding-#{$side}-#{$space} {
      padding-#{$side}: #{$space}px !important;
    }
  }
}
